*{
    margin: 0;
    padding: 0;
    
}

.main{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top left, #66ffcc 0%, #66ccff 100%);
}

.navbar{
    display: flex;
    background-color: black;
}

.logo{
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    width: 20%;
}

.menu{
    width: 60%;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 20px;
}

.menu ul li a{
    padding-left: 28px;
    text-decoration: none;
    color: rgb(8, 247, 255);
    background-color: black;
}


.search{
    width: 20%;
    padding-top: 20px;
}

.search input{
    border-radius: 12px;
    text-align: center;
    font-size: medium;
}

.search button{
    padding: 3px 8px;
    border-radius: 10px;
}


.center{
    display: flex;
}
.center-logo{
    width: 40%;
    padding-top: 120px;
    padding-left: 20px;
}

.center-logo img{
    border-radius: 50%;
}

.text{
    width:60%;
}

.text1{
    text-align: center;
    padding-top: 200px;
}
.text2{
    text-align: center;
}

.text2 h2{
    font-size: 40px;
}

.menu ul li:hover{
    font-size: 20px;
}